<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="wechataMentions">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Mentions</title>

    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #mentions              { margin-bottom:30px; text-align: left; margin-left: 10px;}
    </style>

    <!-- SPELLS -->
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="./../controller/mentions.js"></script>

</head>
<body ng-controller="mentionsController">
    <div class="container">

        <div class="jumbotron text-center">
            <h2>Mentions <span class="label label-info">{{ mentions.length }}</span></h2>
        </div>

    <button type="button" class="btn btn-primary" ng-click="loadMentions()">
        {{UnreadMsg}}
    </button>
        
        <div id="mentions" class="row" ng-show='hasMentions'>
            <li  ng-repeat="mention in mentions">
                    <label>
                    {{$index+1}}. <a href='{{mention.link}}'>{{ mention.message }}</a>
                    </label>
            </li>
        </div>

        <div id="nocontent" class="row" ng-hide='hasMentions'>
            <label>No Unread Mentions</label>
        </div>
    </div>

</body>
</html>