<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="wechataMentions">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Mentions</title>

    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #mentions              { margin-bottom:30px; text-align: left; margin-left: 10px;}
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="./../controller/mentions.js"></script>

</head>
<body ng-controller="mentionsController">
    <div class="container">

        <div class="jumbotron text-center">
            <h2>Mentions <span class="label label-info">{{ mentions.length }}</span></h2>
        </div>

        <!-- TODO LIST -->
        <div id="mentions" class="row" ng-show='hasMentions'>
            <li  ng-repeat="mention in mentions">
                    <label>
                    {{$index}}. {{ mention.message }}
                    </label>
            </li>
        </div>

        <div id="nocontent" class="row" ng-hide='hasMentions'>
            <label>No Unread Mentions</label>
        </div>
    </div>

</body>
</html>